* {
    list-style: none;
    /*
    font-family: 'Cinzel', 'Montserrat', 'Crimson Text', 'Lora', sans-serif;
     */
    font-family: Georgia, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:visited {
    color: black;
}

p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif, sans-serif;
}

hr {
    margin: 25px;
}

body {
    background: white;
}

.cat-header {
    display: block;
    text-align: center;
    width: 700px;
    background-color: rgb(255, 200, 0);
    border-radius: 5px;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

.sub-cat-card {
    background: #fff;
    padding: 10px 15px 10px 15px;
    border-bottom: 2px solid #d9e2e7;
    border-right: 1px solid #d9e2e7;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    margin: 0 20px 20px 0;
    width: 350px;
    text-align: center;
}

.sub-cat-card h4 {
    text-align: center;
    border-bottom: 1px solid #c65039;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: 'Cinzel', sans-serif;
}

.art-btn {
    padding: 0 7px 0 7px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f6cf22;
    border: 2px solid rgba(0, 0, 0, 0);
    line-height: 25px;
}

.art-btn:hover {
    border: 2px solid red;
}

a:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.pic-analyse {
    float: left;
    margin: 10px;
    background: red;
    border-radius: 50%;
    padding: 20px;
}

.input-style {
    border-radius: 5px;
}

.input-form {
    border-radius: 5px;
    padding: 3px;
    background-color: rgba(211, 208, 208, 0.3);
    margin: 5px 0 10px 0;
}

/* END STYLE DEG */


/*COOKIES LINK */
.banniere {
    background: rgba(49, 49, 49, 0.5);
    border: 1px solid whitesmoke;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    z-index: 1;
}

.texte-banniere p {
    font-size: large;
}

.button-banniere {
    padding-top: 5px;
}

.button-banniere a {
    border: solid 1px rgb(216, 30, 30);
    padding: 5px;
    background: red;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: small;
}

.button-banniere a:hover {
    text-decoration: none;
    color: black;
}

/* END COOKIES LINK */


/* PAGE CONTENT */
.wrapper {
    display: flex;
    width: 100%;
}

.wrapper .sidebar .sidebar_inner {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #A6A6A6;
    z-index: 0;
    transition: all 0.3s ease;
}

.main-container {
    margin-left: 200px;
    transition: all 0.3s ease;
    background-color: whitesmoke;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-container.background-nettoyage::before{
    content: "";
    background: url("./images/cleaner.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: blur(30px);
}

.main-container.background-logiciel::before{
    content: "";
    background: url("./images/logiciel.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: blur(30px);
}

.main-container.background-materiel::before{
    content: "";
    background: url("./images/espion.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: blur(30px);
}


.sidebar_inner img {
    width: 200px;
    margin-bottom: 15px;
}

.sidebar_menu li a {
    display: block;
    margin: 15px 0 15px 0;
    height: 60px;
    color: #FF1616;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: 0.4s ease;
    text-decoration: none;
}

.sidebar_menu li a .icon {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.sidebar_menu li a img {
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.sidebar_menu li a .title {
    font-size: 15px;
}

.sidebar_menu li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: goldenrod;
    display: none;
}

.sidebar_menu li a:hover,
.sidebar_menu li a:active {
    background: #d44228;
    color: #fff;
    padding-left: 10px;
    text-decoration: none;
}

.sidebar_menu li a:hover:before,
.sidebar_menu li a:active:before {
    display: block;
}

/* TOP NAVBAR */
.main-container .top_navbar {
    width: calc(100% - 200px);
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    position: fixed;
    top: 0;
    left: 200px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    z-index: 1;
}

.main-container .top_navbar .hamburger {
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
    color: #daa520;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
}

.main-container .top_navbar .subtitle {
    margin: auto;
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.main-container .top_navbar .right_bar i {
    margin-bottom: 5px;
}

.main-container .top_navbar .right_bar i:hover {
    color: red;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.main-container .container {
    padding: 30px;
    margin-top: 60px;
    position: relative;
}



.main-container .container .row {
    display: flex;
    justify-content: center;
    position: relative;
}

/* Catalogue products */

.main-container .container .collist {
    display: flex;
    flex-direction: column;
}

.main-container .container .collist .prod-card {
    background: #fff;
    padding: 10px 15px 10px 15px;
    border-bottom: 2px solid #d9e2e7;
    border-right: 1px solid #d9e2e7;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    margin: 0 20px 20px 10%;
    width: 850px;
    text-align: center;
}

.main-container .container .collist .prod-card h4 {
    text-align: center;
    border-bottom: 1px solid #c65039;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: 'Cinzel', sans-serif;
}

.main-container .container .collist .prod-card .prod-btn {
    padding: 0 7px 0 7px;
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    background-color: #f6cf22;
    border-style: none;
    line-height: 25px;
    width: 150px;
}

.main-container .container .collist .prod-card .prod-btn:hover {
    border: 2px solid #d44228;
}

.main-container .container .collist .prod-card .prod-btn-mat {
    padding: 0 7px 0 7px;
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    background-color: #f6cf22;
    border-style: none;
    line-height: 25px;
    width: 150px;
}

.main-container .container .collist .prod-card ul {
    justify-content: center;
    margin-right: 22%;
}

.main-container .container .collist .prod-card .prod-btn-list {
    display: flex;
}


.main-container .container .avatar_img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    float: left;
    margin: 10px;
}

.main-container .container .prodic_img {
    height: 80px;
    width: 80px;
    border-radius: 5px;
    float: left;
    margin: 10px;
}

.main-container .container .prodmat_img {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    float: left;
    margin: 10px;
}

.main-container .container p {
    padding-right: 50px;
}

/* Items styles */
.main-container .container .item {
    background: #fff;
    padding: 20px;
    border-bottom: 2px solid #d9e2e7;
    border-right: 1px solid #d9e2e7;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    margin: 0 15px 15px 0;
    width: 435px;
    text-align: center;
}

.main-container .container .item h4 {
    text-align: center;
    border-bottom: 1px solid #c65039;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: 'Cinzel', sans-serif;
}

.main-container .container .item .art-btn {
    padding: 0 7px 0 7px;
    border-radius: 5px;
    background-color: #f6cf22;
    border: 2px solid rgba(0, 0, 0, 0);
    line-height: 25px;
    width: 235px;
}

.main-container .container .item .art-btn:hover {
    cursor: pointer;
    border: 2px solid red;
    line-height: 25px;
    width: 235px;
}

.main-container .container .mini_img {
    height: 40px;
    width: 40px;
}

.close {
    position: absolute;
    top: 5px;
    right: 45px;
    font-size: 25px;
    color: goldenrod;
    cursor: pointer;
}

/* TABLE : list of object (customers, companies, products, purchases */

.table-list {
    width: 600px;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: .8rem;
    /*table-layout: fixed;*/
}

.table-list thead, tfoot {
    background-color: black;
    color: #fff;
}

.table-list tbody {
    background-color: rgb(255, 210, 210);
}


.table-list td, th {
    border: 1px solid rgb(134, 134, 134);
    padding: 5px 10px;
}

.table-list td {
    text-align: center;
}

.table-list tbody tr:hover {
    cursor: pointer;
    background-color: rgb(255, 115, 115);
}

/*--------------------*/

.table_order_product {
    width: 700px;
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: .8rem;
    /*table-layout: fixed;*/
}

.table_order_product thead {
    background-color: black;
    color: #fff;
}

.table_order_product .product_detail {
    border: 1px solid rgb(134, 134, 134);
    padding: 10px 10px;
    background-color: rgb(231, 231, 231);
}

.table_order_product .delete_button{
    padding: 10px 0px 10px 30px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
}

.table_order_product .delete_button .delete-btn{
    border: none;
    outline: none;
}
.table_order_product .delete_button .delete-btn:hover{
    color: red;

}

.dropdown_product_list{
    appearance: auto;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 400px;
    padding: 5px;

    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

.input-info_product_list{
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    width: 100px;
    padding : 5px;
    outline: none;
}

.input-info_product_list:focus{
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding : 5px;
    outline: none;
}


/* END OF TABLE list of object*/


/* TABLE for FORM*/

.table-input{
    width: 100%;
    border-collapse: collapse;
}

.text-left{
    padding: 0 50px 0 0px;
    height: 60px;
}

.text-right{
    padding: 0;
    height: 60px;
}

.switch{
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch input:checked + .slider {
    background-color: green;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px green;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.input-info{
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 400px;
}

.input-info:focus, .input-info-changed{
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding : 5px;
    outline: none;
}
/* Hide arrow for number type Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.dropdown{
    appearance: auto;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 400px;
    padding: 5px;

    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

/*SEARCH BAR */
.search-bar{
    width: 500px;
    padding: 5px 20px;
    color: #8b8b8b;
    border : 2px solid rgba(0, 0, 0, 0.3);
}

.search-bar:focus{
    border-color: red;
    color: black;
    outline: none;
    font-weight: bold;
}

.search-dropdown{
    appearance: auto;
    width: 200px;
    padding: 5px 10px;
    color: #8B8B8B;
    border : 2px solid rgba(0, 0, 0, 0.3);
}

.search-dropdown:focus{
    border-color: red;
    color: black;
    outline: none;
    font-weight: bold;
}


/*END SEARCH BAR */
.separator-bar {
    width: 10px;
    height: 10px;
}



/*  FOOTER  */

footer {
    margin-top: auto;
    position: relative;
}

.foot-p {
    color: #999;
    line-height: 20px;
    font-size: 13px;
}

.foot-h2, .foot-h3 {
    color: #fff;
}

.foot-h2 {
    font-size: 16px;
}

.foot-h3 {
    font-size: 18px;
}

.footer-top {
    background: #111;
    padding: 0;
    margin: 0;
}

.footer-top .container .row {
    display: flex;
    justify-content: space-around;
}

/* First Segment : */
.segment-one {
    font-family: 'Cinzel', sans-serif;
    color: #fff;
    letter-spacing: 2px;
}

.segment-one h3:before {
    content: ' | ';
    color: #c65039;
}

/* Second segment : */

.segment-two h2 {
    color: #fff;
    font-family: 'Cinzel', sans-serif;
    text-transform: uppercase;
}

.segment-two h2:before {
    content: ' | ';
    color: #c65039;
}

.segment-two ul li {
    margin-top: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 20px;
    width: 150px;
    list-style: none;
}

.segment-two ul li a {
    color: #999;
    text-decoration: none;
}

.segment-two ul li a:hover {
    color: goldenrod;
    text-decoration: none;
}

/* Copyright : */

.footer-bottom-text {
    margin: 0;
    text-align: center;
    background: #000;
    line-height: 55px;
}

/*   RESPONSOVE */

@media screen and (max-width: 800px) {
    .wrapper .sidebar .sidebar_inner {
        left: -100%;
    }

    .wrapper .main-container,
    .wrapper .main-container .top_navbar {
        width: 100%;
        margin-left: 0;
    }

    .wrapper .main-container .top_navbar {
        left: 0;
        z-index: 10;
    }

    .wrapper .main-container .top_navbar .hamburger,
    .wrapper .close {
        display: flex;
    }

    .wrapper.active .sidebar .sidebar_inner {
        left: 0;
        z-index: 5;
    }
}

@media screen and (max-width: 630px) {
    .subtitle {
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .subtitle {
        display: flex;
    }

    .main-container .right_bar {
        display: flex;
    }

    .grape_index {
        position: absolute;
        display: block;
    }
}

/* RESPONSOVE FOOTER */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .md-mb-30 {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .sm-mb-30 {
        margin-bottom: 30px;
    }

    .footer-top {
        padding: 10px 0;
        text-align: center;;
    }
}

/*RESPONSIVE COOKIES */

@media only screen and (max-width: 767px) {
    .banniere {
        background: rgba(49, 49, 49, 0.5);
        border: 1px solid whitesmoke;
        position: fixed;
        padding-bottom: 80px;
        left: 0;
        width: 100%;
        height: 50px;
        color: white;
        display: flex;
        justify-content: space-around;
        z-index: 1;
    }

    .button-banniere {
        margin-top: 20px;
    }

    .button-banniere a {
        border: solid 1px rgb(216, 30, 30);
        padding: 5px;
        background: red;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        font-size: 12px;
    }

    .texte-banniere p {
        font-size: 15px;
        width: 250px;
    }
}

/* END RESP COOKIES */