<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="icon" type="image/png" th:href="@{/icons/fav.png}" />
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text|Lora|Montserrat&display=swap"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/118aaba51a.js" crossorigin="anonymous"></script>
    <title>ACME Corp - Clients</title>
</head>
<body>

<div class="wrapper">

    <div class="sidebar">

        <div class="sidebar_inner">

            <div class="profile_info">
                <a href="/">
                    <div class="profile_img">
                        <img th:src="@{/logos/acme_corp.png}" alt="logo pic">
                    </div>
                </a>
            </div>


            <ul class="sidebar_menu active">
                <li>
                    <a href="/listerClients" class="active">
                        <img th:src="@{/icons/customer.png}" alt="icone clients">
                        <div class="title">Clients</div>
                    </a>
                </li>

                <li>
                    <a href="/listerOrganisations" class="active">
                        <img th:src="@{/icons/organisation.png}" alt="icone clients">
                        <div class="title">Organisations</div>
                    </a>
                </li>

                <li>
                    <a href="/listerProduits" class="active">
                        <img th:src="@{/icons/product.png}" alt="icone clients">
                        <div class="title">Produits</div>
                    </a>
                </li>

                <li>
                    <a href="/listerCommandes/organisation?id=0" class="active">
                        <img th:src="@{/icons/cube.png}" alt="icone clients">
                        <div class="title">Commandes</div>
                    </a>
                </li>

                <li>
                    <a href="stats.html" class="active">
                        <img th:src="@{/icons/statistics.png}" alt="icone clients">
                        <div class="title">Statistiques</div>
                    </a>
                </li>
            </ul>
            <!--end of sidebar content-->
        </div>
    </div>

    <!--Main container-->
    <div class="main-container">


        <!-- TOP NAVBAR -->
        <div class="top_navbar">

            <div class="hamburger">
                <div class="hamburger_inner">
                    <i class="fas fa-bars"></i>
                </div>
                <!--div class="close"><i class="fas fa-times"></i></div-->
            </div>

            <h4 class="subtitle"><a href="/">l'Atypique Comptoir du Meurtre et de l'Espionnage</a></h4>


            <!-- RIGHT SIDE sign up/in-->
            <ul class="right_bar">
                <li><a href="connexion.html"><i class="fas fa-user fa-2x"></i></a></li>
                <!--li><a href="connexion.html"><img src="../static/icons/user.png" alt="user icon"></a></li-->
            </ul>
        </div>

        <div class="container">
            <div class="row">
                <div class="cat-header">
                    <h4><strong>lister des commandes</strong></h4>
                </div>
            </div>

            <div class="separator-bar"></div>

            <div class="row">
                <button class="art-btn">
                    <strong>
                        <a href="/creerCommande">Ajouter une commande</a>
                    </strong>
                </button>
            </div>

            <div class="separator-bar"></div>
            <div class="separator-bar"></div>


            <div class="row">
                <input class="search-bar" type="text" placeholder="Rechercher une commande" id="txtSearch">
                <div class="separator-bar"></div>
                <select class="search-dropdown" id="organisations"
                >
                    <option th:value=0 th:text="Tout"></option>
                    <option th:each="organization: ${organizations}"
                            th:value="${organization.getId()}"
                            th:text="${organization.getCompanyName()}"></option>
                </select>
            </div>

            <div class="separator-bar"></div>
            <div class="separator-bar"></div>

            <div class="row">
                <table class="table-list">
                    <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Client</th>
                        <th>Organisation</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody id = purchases_list>
                        <tr th:each="purchase: ${purchases}"
                            th:onclick="'window.location.href=\'/detailsCommande/' + ${purchase.getId()} + '\''"
                        >
                            <td th:text="${purchase.getReference()}" />
                            <td th:text="${purchase.getContact().getFullName()}" />
                            <td th:text="${purchase.getContact().getOrganization().getCompanyName()}" />
                            <td th:text="${purchase.getDateOfOrder()}" />
                        </tr>
                    </tbody>
                </table>
            </div>

            <br>

        </div>

        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
                            <h3 class="foot-h3">l'Atypique Comptoir du Meurtre et de l'Espionnage</h3>
                            <p class="foot-p">Nos solutions à tous vos problèmes</p>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                            <h2 class="foot-h2">Liens utiles</h2>
                            <ul>
                                <li><a href="#">Documentation</a></li>
                                <li><a href="documents/cgv_cgu.pdf" target="_blank">CGU</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class=" foot-p footer-bottom-text">Copyright Micka Green 2021 &copy;. All rights reserved.</p>
        </footer>
    </div>
</div>

<script>
    $(document).ready(function () {
        let open = true

        $(".hamburger .fas").click(function () {
            if (open) {
                $(".wrapper").addClass("active");
            } else {
                $(".wrapper").removeClass("active");
            }
            open = !open;
        });
    });
</script>

<script th:inline="javascript">
    $(document).ready(function (){
        let organisationId = [[${organisation_selected}]];
        console.log("organisationId = " + organisationId)
        $("organisations").val(organisationId);
        $("organisations option[value=" + organisationId + "]").prop("selected",true);

        $("#organisations").change(function (){
            if($(this).val() === "Tout"){
                location.href = "/listerCommandes"
            } else {
                location.href = "/listerCommandes/organisation?id=" + $(this).val();
            }
        })

        // If use thymeleaf :  th:onchange="window.location.href='/listerCommandes/organisation?id=' + this.value"
    })
</script>

<script th:inline="javascript">

    $("#txtSearch").on("input", function() {

        let purchases = [[${purchases}]];

        let text = $(this).val();

        //get filtered data
        let dataFilterd = filterText(text, purchases)
        console.log(dataFilterd)
        //clear tables and fill it with filtered data
        fillTableWithData(dataFilterd)
    });

    function filterText(text, purchases){
        let dataFilterd = [];
        for(let item in purchases){
            text = text.toLowerCase();
            let firstname = purchases[item].contact.firstName.toLowerCase();
            let lastname = purchases[item].contact.lastName.toLowerCase();
            let reference = purchases[item].reference.toLowerCase();
            if (firstname.includes(text) || lastname.includes(text) || reference.includes(text)){
                dataFilterd.push(purchases[item])
            }
        }
        return dataFilterd;
    }

    function fillTableWithData(dataFilterd){
        let tbody = document.getElementById("purchases_list")
        tbody.innerHTML="";
        for(let item in dataFilterd){
            let tr = `<tr>
                <td>${dataFilterd[item].reference}</td>
                <td>${dataFilterd[item].contact.firstName + " " + dataFilterd[item].contact.firstName}</td>
                <td>${dataFilterd[item].contact.organization.companyName}</td>
                <td>${dataFilterd[item].dateOfOrder}</td>
            </tr>
            `
            tbody.innerHTML += tr
        }
    }
</script>

</body>
</html>