<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="icon" type="image/png" th:href="@{icons/fav.png}" />
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text|Lora|Montserrat&display=swap"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/118aaba51a.js" crossorigin="anonymous"></script>
    <title>ACME Corp - Clients</title>
</head>
<body>

<div class="wrapper">

    <div class="sidebar">

        <div class="sidebar_inner">

            <div class="profile_info">
                <a href="/">
                    <div class="profile_img">
                        <img th:src="@{logos/acme_corp.png}" alt="logo pic">
                    </div>
                </a>
            </div>


            <ul class="sidebar_menu active">
                <li>
                    <a href="/listerClients" class="active">
                        <img th:src="@{icons/customer.png}" alt="icone clients">
                        <div class="title">Clients</div>
                    </a>
                </li>

                <li>
                    <a href="/listerOrganisations" class="active">
                        <img th:src="@{icons/organisation.png}" alt="icone clients">
                        <div class="title">Organisations</div>
                    </a>
                </li>

                <li>
                    <a href="/listerProduits" class="active">
                        <img th:src="@{icons/product.png}" alt="icone clients">
                        <div class="title">Produits</div>
                    </a>
                </li>

                <li>
                    <a href="/listerCommandes" class="active">
                        <img th:src="@{icons/cube.png}" alt="icone clients">
                        <div class="title">Commandes</div>
                    </a>
                </li>

                <li>
                    <a href="stats.html" class="active">
                        <img th:src="@{icons/statistics.png}" alt="icone clients">
                        <div class="title">Statistiques</div>
                    </a>
                </li>
            </ul>
            <!--end of sidebar content-->
        </div>
    </div>

    <!--Main container-->
    <div class="main-container">


        <!-- TOP NAVBAR -->
        <div class="top_navbar">

            <div class="hamburger">
                <div class="hamburger_inner">
                    <i class="fas fa-bars"></i>
                </div>
                <!--div class="close"><i class="fas fa-times"></i></div-->
            </div>

            <h4 class="subtitle"><a href="index.html">l'Atypique Comptoir du Meurtre et de l'Espionnage</a></h4>


            <!-- RIGHT SIDE sign up/in-->
            <ul class="right_bar">
                <li><a href="connexion.html"><i class="fas fa-user fa-2x"></i></a></li>
                <!--li><a href="connexion.html"><img src="../static/icons/user.png" alt="user icon"></a></li-->
            </ul>
        </div>

        <div class="container">

            <div class="row">
                <h4>Info de la commande</h4>
            </div>

            <hr>

            <div class="row">

                <form id="client_submit" method="post" action="">
                    <table class="table-input">
                        <tr>
                            <td class="text-left">Date : </td>
                            <td class="text-right"> <input class="input-info" id="date-of-order" type="datetime-local"/> </td>
                        </tr>
                        <tr>
                            <td class="text-left">Client : </td>
                            <td class="text-right">
                                <select class="dropdown" >
                                    <option disabled selected value>-- Choisir un client --</option>
                                    <option
                                            th:each="contact : ${contacts}"
                                            th:value="${contact.getId()}"
                                            th:text="${contact.getFullName()}"
                                    >
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">lister des produits : </td>
                        </tr>
                    </table>

                </form>
            </div>

            <div class="row">
                <table class="table_order_product">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                    </tr>
                    </thead>
                    <tbody id="products_list">
                        <tr id="product_item"
                            th:each="product : ${products}"
                        >
                            <td class="product_detail" id="product_name">
                                <select class="dropdown_product_list"> <!-- note Coco : petit doute sur le th:field -->
                                    <option
                                            th:value="${product.getId()}"
                                            th:text="${product.getFullName()}"
                                    >
                                    </option>
                                </select>
                            </td>
                            <td class="product_detail"><input class="input-info_product_list" id="product_quantity" type="number" min="0"/></td>
                            <td class="delete_button"><button id="delete_product_in_commande" class="delete-btn"><i class="fas fa-trash fa-lg"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="separator-bar"></div>
            <div class="separator-bar"></div>

            <div class="row">
                <button id="add_products" class="art-btn">Ajouter un produit</button>
            </div>

            <hr>

            <div class="row">
                <button class="art-btn" type="submit" form="client_submit" formaction="">Supprimer</button>
                <div class="separator-bar"></div>
                <div class="separator-bar"></div>
                <button class="art-btn" type="submit" form="client_submit" formaction="">Sauvegarder</button>
            </div>


        </div>

        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
                            <h3 class="foot-h3">l'Atypique Comptoir du Meurtre et de l'Espionnage</h3>
                            <p class="foot-p">Nos solutions à tous vos problèmes</p>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                            <h2 class="foot-h2">Liens utiles</h2>
                            <ul>
                                <li><a href="#">Documentation</a></li>
                                <li><a href="documents/cgv_cgu.pdf" target="_blank">CGU</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class=" foot-p footer-bottom-text">Copyright Micka Green 2021 &copy;. All rights reserved.</p>
        </footer>
    </div>
</div>

<script>
    $(document).ready(function () {
        let open = true

        $(".hamburger .fas").click(function () {
            if (open) {
                $(".wrapper").addClass("active");
            } else {
                $(".wrapper").removeClass("active");
            }
            open = !open;
        });

        let item_id = 0;
        $("#add_products").click(function(){
            let cloneItem = $("#product_item").clone().prop("id", "product_item" + item_id )
            cloneItem.appendTo("#products_list");
            cloneItem.find("button").click(function(){
                cloneItem.remove()
            });

            item_id += 1
        });

    });



</script>
</body>
</html>