<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="icon" type="image/png" href="../static/icons/fav.png" />
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text|Lora|Montserrat&display=swap"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/118aaba51a.js" crossorigin="anonymous"></script>
    <title>ACME Corp - Home</title>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <div class="sidebar_inner">
            <div class="profile_info">
                <a href="index.html">
                    <div class="profile_img">
                        <img th:src="@{/logos/acme_corp.png}" alt="logo pic">
                    </div>
                </a>
            </div>


            <ul class="sidebar_menu active">
                <li>
                    <a href="clients.html" class="active">
                        <img src="../static/icons/customer.png" alt="icone clients">
                        <div class="title">Clients</div>
                    </a>
                </li>

                <li>
                    <a href="organisations.html" class="active">
                        <img src="../static/icons/organisation.png" alt="icone clients">
                        <div class="title">Organisations</div>
                    </a>
                </li>

                <li>
                    <a href="/listerProduits" class="active">
                        <img src="../static/icons/product.png" alt="icone clients">
                        <div class="title">Produits</div>
                    </a>
                </li>

                <li>
                    <a href="commandes.html" class="active">
                        <img src="../static/icons/cube.png" alt="icone clients">
                        <div class="title">Commandes</div>
                    </a>
                </li>

                <li>
                    <a href="stats.html" class="active">
                        <img src="../static/icons/statistics.png" alt="icone clients">
                        <div class="title">Statistiques</div>
                    </a>
                </li>
            </ul>
            <!--end of sidebar content-->
        </div>
    </div>


    <!--Main container-->
    <div class="main-container">
        <!-- TOP NAVBAR -->
        <div class="top_navbar">
            <div class="hamburger">
                <div class="hamburger_inner">
                    <i class="fas fa-bars"></i>
                </div>
                <!--div class="close"><i class="fas fa-times"></i></div-->
            </div>
            <h4 class="subtitle"><a href="index.html">l'Atypique Comptoir du Meurtre et de l'Espionnage</a></h4>

            <!-- RIGHT SIDE sign up/in -->
            <ul class="right_bar">
                <li><a href="connexion.html"><i class="fas fa-user fa-2x"></i></a></li>
                <!--li><a href="connexion.html"><img src="../static/icons/user.png" alt="user icon"></a></li-->

            </ul>
        </div>

        <div class="container">

            <div class="row first-row">
                <div class="item">
                    <h4><strong>Clients</strong></h4>
                    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet
                        consectetur
                        adipisicing elit. Soluta quisquam, voluptatem accusantium vel eius sapiente, fuga quo
                        doloremque,
                        assumenda voluptas natus ea voluptatibus voluptatum quaerat placeat quis adipisci error in?<br>
                    </p>
                    <button class="art-btn"><strong><a href="clients.html">Voir mes clients</a></strong></button>
                </div>
                <div class="item">
                    <h4><strong>Produits</strong></h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Rem impedit ipsum repellendus quo totam omnis id reiciendis laudantium
                        aspernatur
                        alias, porro deleniti recusandae, unde quaerat iure tempore nisi sunt quas! <br></p>
                    <button class="art-btn"><strong><a href="produits.html">Catalogue des produits</a></strong></button>
                </div>
            </div>

            <div class="row second-row">
                <div class="item">
                    <h4><strong>Commandes</strong></h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Natus asperiores consectetur labore. Totam doloremque esse reprehenderit nihil
                        optio numquam tempora? Corporis adipisci consequatur blanditiis hic sapiente nemo accusamus
                        aliquid
                        dolorum. <br></p>
                    <button class="art-btn"><strong><a href="commandes.html">Voir les commandes</a></strong></button>
                </div>
                <div class="item">
                    <h4><strong> Statistiques</strong></h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Delectus dolor quis in provident optio ipsa cupiditate esse qui, adipisci nisi
                        voluptas,
                        dicta temporibus, earum asperiores. Alias commodi quos quia voluptatem. <br></p>
                    <button class="art-btn"><strong><a href="stats.html"> Statistiques</a></strong></button>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
                            <h3 class="foot-h3">l'Atypique Comptoir du Meurtre et de l'Espionnage</h3>
                            <p class="foot-p">Nos solutions à tous vos problèmes</p>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                            <h2 class="foot-h2">Liens utiles</h2>
                            <ul>
                                <li><a href="#">Documentation</a></li>
                                <li><a href="documents/cgv_cgu.pdf" target="_blank">CGU</a></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <p class=" foot-p footer-bottom-text">Copyright Micka Green 2021 &copy;. All rights reserved.</p>
        </footer>


    </div>
</div>

<script>
    $(document).ready(function () {
        let open = true

        $(".hamburger .fas").click(function () {
            if (open) {
                $(".wrapper").addClass("active");
            } else {
                $(".wrapper").removeClass("active");
            }
            open = !open;
        });
    });
</script>
</body>
</html>