<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="icon" type="image/png" th:href="@{/icons/fav.png}" />
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text|Lora|Montserrat&display=swap"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/118aaba51a.js" crossorigin="anonymous"></script>
    <title>ACME Corp - Clients</title>
</head>
<body>

<div class="wrapper">

    <div class="sidebar">

        <div class="sidebar_inner">

            <div class="profile_info">
                <a href="/">
                    <div class="profile_img">
                        <img th:src="@{/logos/acme_corp.png}" alt="logo pic">
                    </div>
                </a>
            </div>


            <ul class="sidebar_menu active">
                <li>
                    <a href="/listerClients" class="active">
                        <img th:src="@{/icons/customer.png}" alt="icone clients">
                        <div class="title">Clients</div>
                    </a>
                </li>

                <li>
                    <a href="/listerOrganisations" class="active">
                        <img th:src="@{/icons/organisation.png}" alt="icone clients">
                        <div class="title">Organisations</div>
                    </a>
                </li>

                <li>
                    <a href="/listerProduits" class="active">
                        <img th:src="@{/icons/product.png}" alt="icone clients">
                        <div class="title">Produits</div>
                    </a>
                </li>

                <li>
                    <a href="/listerCommandes" class="active">
                        <img th:src="@{/icons/cube.png}" alt="icone clients">
                        <div class="title">Commandes</div>
                    </a>
                </li>

                <li>
                    <a href="/statistiques" class="active">
                        <img th:src="@{/icons/statistics.png}" alt="icone clients">
                        <div class="title">Statistiques</div>
                    </a>
                </li>
            </ul>
            <!--end of sidebar content-->
        </div>
    </div>

    <!--Main container-->
    <div class="main-container">


        <!-- TOP NAVBAR -->
        <div class="top_navbar">

            <div class="hamburger">
                <div class="hamburger_inner">
                    <i class="fas fa-bars"></i>
                </div>
                <!--div class="close"><i class="fas fa-times"></i></div-->
            </div>

            <h4 class="subtitle"><a href="/">l'Atypique Comptoir du Meurtre et de l'Espionnage</a></h4>


            <!-- RIGHT SIDE sign out logo-->
            <ul class="right_bar">
                <li><a href="/logout"> <img th:src="@{/icons/logout.png}" alt="logout icon" width="25" height="25"></a></li>
            </ul>
        </div>

        <div class="container">
            <div class="row">
                <div class="cat-header">
                    <h4><strong>lister des organisations</strong></h4>
                </div>
            </div>

            <div class="separator-bar"></div>

            <div class="row">
                <button class="art-btn">
                    <strong>
                        <a href="/creerOrganisation">Ajouter une organisation</a>
                    </strong>
                </button>
            </div>

            <div class="separator-bar"></div>
            <div class="separator-bar"></div>

            <div class="row">
                <input class="search-bar" type="text" placeholder="Rechercher une organisation">
            </div>

            <div class="separator-bar"></div>
            <div class="separator-bar"></div>

            <div class="row">
                <table class="table-list">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Ville</th>
                            <th>Pays</th>
                            <th>Référent</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:onclick="'window.location.href=\'/detailsOrganisation/' + ${organization.getId()} + '\''"
                            th:each="organization: ${organizations}"
                        >
                            <td th:text="${organization.getCompanyName()}" />
                            <td th:text="${organization.getCityName()}" />
                            <td th:text="${organization.getCountry()}" />
                            <td th:text="${organization.getUser().getFullName()}" />
                        </tr>
                    </tbody>

                </table>
            </div>

            <br>

            <!--
            <div class="row">
                <div class="item">
                    <h4><strong>Ajouter un client</strong></h4>
                    <p>
                        Cliquer sur le bouton pour ajouter un client
                        <br>
                    </p>
                    <button class="art-btn">
                        <strong>
                            <a href="clients_create.html">Ajouter un client</a>
                        </strong>
                    </button>
                </div>
            </div>
            -->

        </div>

        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
                            <h3 class="foot-h3">l'Atypique Comptoir du Meurtre et de l'Espionnage</h3>
                            <p class="foot-p">Nos solutions à tous vos problèmes</p>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                            <h2 class="foot-h2">Liens utiles</h2>
                            <ul>
                                <li><a href="#">Documentation</a></li>
                                <li><a href="documents/cgv_cgu.pdf" target="_blank">CGU</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class=" foot-p footer-bottom-text">Copyright Micka Green 2021 &copy;. All rights reserved.</p>
        </footer>
    </div>
</div>

<script>
    $(document).ready(function () {
        let open = true

        $(".hamburger .fas").click(function () {
            if (open) {
                $(".wrapper").addClass("active");
            } else {
                $(".wrapper").removeClass("active");
            }
            open = !open;
        });
    });
</script>

<script>
    function rowClicked(value) {
        location.href = "/organizations_info?param=" + value;
    }
</script>

</body>
</html>