<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text|Lora|Montserrat&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">  
    <script src="https://kit.fontawesome.com/118aaba51a.js" crossorigin="anonymous"></script>
    <title>ACME Corp - Produits</title>
</head>
<body>
    
<div class="wrapper">

    <div class="sidebar">

        <div class="sidebar_inner">
            
            <div class="profile_info">
                <a href="index.html">
                    <div class="profile_img">
                        <img src="../static/logos/acme_corp.png" alt="logo pic">
                    </div>
                </a>
            </div>


            <ul class="sidebar_menu active">
                <li>
                    <a href="clients.html" class="active">
                        <img src="../static/icons/customer.png" alt="icone clients">
                        <div class="title">Clients</div>
                    </a>
                </li>

                <li>
                    <a href="produits.html" class="active">
                        <img src="../static/icons/product.png" alt="icone clients">
                        <div class="title">Produits</div>
                    </a>
                </li>

                <li>
                    <a href="commandes.html" class="active">
                        <img src="../static/icons/cube.png" alt="icone clients">
                        <div class="title">Commandes</div>
                    </a>
                </li>

                <li>
                    <a href="stats.html" class="active">
                        <img src="../static/icons/statistics.png" alt="icone clients">
                        <div class="title">Statistiques</div>
                    </a>
                </li>

            </ul>
            <!--end of sidebar content-->
        </div>
    </div>


<!--Main container-->
    <div class="main-container">


        <!-- TOP NAVBAR -->
        <div class="top_navbar">

            <div class="hamburger">
                <div class="hamburger_inner">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="close"><i class="fas fa-times"></i></div>
            </div>
            
             <h4 class="subtitle"><a href="index.html">l'Atypique Comptoir du Meurtre et de l'Espionnage</a></h4>
           

            <!-- RIGHT SIDE sign up/in and search-->

            <ul class="right_bar">
                <li><a href="connexion.html"><img src="../static/icons/user.png" alt="user icon"></a></li>
            </ul>
        </div>

<div class="container">
                
                <div class="row first-row">
                    <div class="cat-header">
                        <h4><strong>Logiciels</strong></h4>
                    </div>  
                </div>
<hr>
<br>


<div class="row first-row">
    
        <img src="../static/images/logiciel.png" alt="logiciel">
      
</div>
<br> <br>   
                <div class="collist">
                    <div class="prod-card">
                        <h4><strong>Keylogger</strong></h4>
                                <img src="../static/icons/keyboard.png" alt="killer pic" class="prodic_img">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio consequatur 
                                    obcaecati eius dolores earum vero assumenda cumque? Ipsa officiis, odit ullam cumque vero, 
                                    nobis debitis cum aliquid ad fugiat iusto.<br>Prix : 25 €</p>
                        <button class="art-btn"><strong><a href="prod_nettoyage.html">Détail</a> </strong></button>   
                        <button class="art-btn"><strong><a href="prod_logiciel.html">Modifier</a></strong></button>
                        <button class="art-btn"><strong><a href="prod_logiciel.html">Supprimer</a></strong></button>
                    </div>

                    <div class="prod-card">
                        <h4><strong>Spyware</strong></h4>
                            <img src="../static/icons/spyware.png" alt="software" class="prodic_img">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio consequatur 
                                obcaecati eius dolores earum vero assumenda cumque? Ipsa officiis, odit ullam cumque vero, 
                                nobis debitis cum aliquid ad fugiat iusto.<br>Prix : 25 €</p> 
                       <button class="art-btn"><strong><a href="prod_nettoyage.html">Détail</a> </strong></button>   
                       <button class="art-btn"><strong><a href="prod_logiciel.html">Modifier</a></strong></button>
                       <button class="art-btn"><strong><a href="prod_logiciel.html">Supprimer</a></strong></button>
                    </div>
                    <div class="prod-card">
                        <h4><strong>Botnet sofware</strong></h4>
                                <img src="../static/icons/terminal.png" alt="tools" class="prodic_img">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio consequatur 
                                    obcaecati eius dolores earum vero assumenda cumque? Ipsa officiis, odit ullam cumque vero, 
                                    nobis debitis cum aliquid ad fugiat iusto.
                                <br>Prix : 25 €</p>

                            <button class="art-btn"><strong><a href="prod_nettoyage.html">Détail</a> </strong></button>   
                            <button class="art-btn"><strong><a href="prod_logiciel.html">Modifier</a></strong></button>
                            <button class="art-btn"><strong><a href="prod_logiciel.html">Supprimer</a></strong></button>
                            
                    </div>

                </div>
                 
    </div>

    <footer>

        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
                        <h3 class="foot-h3">l'Atypique Comptoir du Meurtre et de l'Espionnage</h3>
                        <p class="foot-p">Nos solutions à tous vos problèmes</p>
                    </div>
        
                    <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                        <h2 class="foot-h2">Liens utiles</h2>
                       <ul>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="documents/cgv_cgu.pdf" target="_blank">CGU</a></li>
                       </ul>
                    </div>
        
        
                </div>
            </div>
        </div>
        <p class=" foot-p footer-bottom-text">Copyright Micka Green 2021 &copy;. All rights reserved.</p>
        </footer>
        
        
        </div>
    </div>
    
    <script>
    
        $(document).ready(function(){
            $(".hamburger .fas").click(function(){
                $(".wrapper").addClass("active");
            });
        
            $(".close").click(function(){
                $(".wrapper").removeClass("active");
            });
        });
        
        </script>
    </body>
    </html>