<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="icon" type="image/png" th:href="@{/icons/fav.png}" />
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text|Lora|Montserrat&display=swap"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/118aaba51a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>ACME Corp - Statistiques</title>
</head>
<body>

<div class="wrapper">

    <div class="sidebar">

        <div class="sidebar_inner">

            <div class="profile_info">
                <a href="/">
                    <div class="profile_img">
                        <img th:src="@{/logos/acme_corp.png}" alt="logo pic">
                    </div>
                </a>
            </div>


            <ul class="sidebar_menu active">
                <li>
                    <a href="/listerClients" class="active">
                        <img th:src="@{/icons/customer.png}" alt="icone clients">
                        <div class="title">Clients</div>
                    </a>
                </li>

                <li>
                    <a href="/listerOrganisations" class="active">
                        <img th:src="@{/icons/organisation.png}" alt="icone clients">
                        <div class="title">Organisations</div>
                    </a>
                </li>

                <li>
                    <a href="/listerProduits" class="active">
                        <img th:src="@{/icons/product.png}" alt="icone clients">
                        <div class="title">Produits</div>
                    </a>
                </li>

                <li>
                    <a href="/listerCommandes" class="active">
                        <img th:src="@{/icons/cube.png}" alt="icone clients">
                        <div class="title">Commandes</div>
                    </a>
                </li>

                <li>
                    <a href="/statistiques" class="active">
                        <img th:src="@{/icons/statistics.png}" alt="icone clients">
                        <div class="title">Statistiques</div>
                    </a>
                </li>
            </ul>
            <!--end of sidebar content-->
        </div>
    </div>

    <!--Main container-->
    <div class="main-container">


        <!-- TOP NAVBAR -->
        <div class="top_navbar">

            <div class="hamburger">
                <div class="hamburger_inner">
                    <i class="fas fa-bars"></i>
                </div>
            </div>

            <h4 class="subtitle"><a href="/">l'Atypique Comptoir du Meurtre et de l'Espionnage</a></h4>


            <!-- RIGHT SIDE sign out logo-->
            <ul class="right_bar">
                <li><a href="/logout"> <img th:src="@{/icons/logout.png}" alt="logout icon" width="25" height="25"></a></li>
            </ul>
        </div>

        <div class="container">
            <div class="row first-row">
                <div class="cat-header">
                    <h4><strong>Statistiques</strong></h4>
                </div>
            </div>

            <hr>

            <div class="row">
                <table class="table-input" style="width: 500px">
                    <tr>
                        <td class="text-left">Référence commande la plus élevée :</td>
                        <td align="left" th:text="${referenceCommande}"></td>
                    </tr>
                    <tr>
                        <td class="text-left">Montant de la commande la plus élevée : </td>
                        <td align="left" th:text="${maxTotalValue}"></td>
                    </tr>
                </table>
            </div>


            <hr>

            <!-- CHART -->
            <div class="row">
                <div>
                    <canvas id="myChart" width="600" height="300"></canvas>
                    <script th:inline="javascript">

                        function hexToRGB(hex, alpha) {
                            var r = parseInt(hex.slice(1, 3), 16),
                                g = parseInt(hex.slice(3, 5), 16),
                                b = parseInt(hex.slice(5, 7), 16);

                            if (alpha) {
                                return "rgba(" + r + ", " + g + ", " + b + ", " + alpha + ")";
                            } else {
                                return "rgb(" + r + ", " + g + ", " + b + ")";
                            }
                        }

                        function getRandomColor(alpha) {
                            var letters = '0123456789ABCDEF'.split('');
                            var hex = '#';
                            for (var i = 0; i < 6; i++) {
                                hex += letters[Math.floor(Math.random() * 16)];
                            }
                            return hexToRGB(hex, alpha);
                        }

                        let backgroundColor = []
                        for (let i=0; i<[[${label}]].length; i++){
                            backgroundColor.push(getRandomColor(0.5))
                        }

                        const data = {
                            labels: [[${label}]],
                            datasets: [{
                                data: [[${nbPurchase}]],
                                fill: false,
                                label: "Nombre de commandes",
                                backgroundColor: backgroundColor,
                                borderWidth: 1,
                                barPercentage: 1,
                                barThickness: 28,
                                maxBarThickness: 30
                            }]
                        };

                        var ctx = document.getElementById('myChart');
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: data,
                            options: {
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'Top 5 organisations en nombre de commandes passées'
                                    },
                                    legend: {
                                        display: false
                                    },
                                },
                                indexAxis: 'y',
                                scales: {
                                    x: {
                                        beginAtZero: true,
                                        ticks: {
                                            stepSize: 1,
                                        },
                                    },
                                }
                            }
                        });
                    </script>
                </div>

            </div>

            <hr>

        </div>

        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
                            <h3 class="foot-h3">l'Atypique Comptoir du Meurtre et de l'Espionnage</h3>
                            <p class="foot-p">Nos solutions à tous vos problèmes</p>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                            <h2 class="foot-h2">Liens utiles</h2>
                            <ul>
                                <li><a href="#">Documentation</a></li>
                                <li><a href="documents/cgv_cgu.pdf" target="_blank">CGU</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class=" foot-p footer-bottom-text">Copyright Micka Green 2021 &copy;. All rights reserved.</p>
        </footer>
    </div>
</div>

<script>
    $(document).ready(function () {
        let open = true

        $(".hamburger .fas").click(function () {
            if (open) {
                $(".wrapper").addClass("active");
            } else {
                $(".wrapper").removeClass("active");
            }
            open = !open;
        });


        let label = [[${label}]];
        console.log(label);
    });

</script>



</body>
</html>